
.title, label{
   color:yellow
}

input[type="text"]{
   font-weight:bold;
}

body{
   background:url('background.jpg') fixed;
}

.title{
   margin-left:23%
}

.goal {
   position:absolute;
   width:150px;
   left:25%
}

.a{
   position:absolute;
   top:20%;
}

.b {
   position:absolute;
   top:20%;
   left:10%;
}

.c {
   position:absolute;
   top:20%;
   left:20%;
}

.d {
   position:absolute;
   top:20%;
   left:30%
}

.e {
   position:absolute;
   top:20%;
   left:40%
}

.f {
   position:absolute;
   top:20%;
   left:50%
}

.options{
   background-color:transparent;
   border-width:2;
   border-style:groove;
   position:absolute;
   height:100px;
   width:200px;
   right:20px;
   top:20px;
}


.max-gen{
   position:absolute;
   width:100%;
   top:20%;
}

.population-size{
   position:absolute;
   width:100%;
   bottom:20%;
}

.solve {
   position:absolute;
   color:green;
   top:50%;
   left:40%;
}

.reset {
   position:absolute;
   color:red;
   top:50%;
   left:20%;
}


#result{
   position:absolute;
   background-color:green;
   color:white;
   font-weight:bold;
   font-size:larger;
   text-align:center;
   top:30%;
   width:60%;
}

