
.title{
   margin-left:23%
}

.x {
   position:absolute;
   width:150px;
   left:25%
}

.a{
   position:absolute;
   top:20%;
}

.b {
   position:absolute;
   top:20%;
   left:10%;
}

.c {
   position:absolute;
   top:20%;
   left:20%;
}

.d {
   position:absolute;
   top:20%;
   left:30%
}

.e {
   position:absolute;
   top:20%;
   left:40%
}

.f {
   position:absolute;
   top:20%;
   left:50%
}

.solve {
   position:absolute;
   color:red;
   top:50%;
   left:30%;
}

.result{
   position:absolute;
   background-color:green;
   color:white;
   font-weight:bold;
   font-size:larger;
   text-align:center;
   top:30%;
   width:60%;
}

