
*{
   font-size:18pt;
}

.title, label{
   color:yellow;
}

input{
   font-weight:bold;
}

input[type="text"]{
   width:100px;
   text-align:right;
   background-color:rgba(255,255,255,0.5);
}

input:focus{
   background-color: #F2E697;
   color: #4C3DFF;
}

body{
   background:url('background.jpg') fixed;
}

.title{
   margin-left:23%
}

.goal {
   position:absolute;
   width:500px;
   left:25%
}

.a{
   position:absolute;
   top:30%;
   left:2%;
}

.b {
   position:absolute;
   top:30%;
   left:12%;
}

.c {
   position:absolute;
   top:30%;
   left:22%;
}

.d {
   position:absolute;
   top:30%;
   left:32%
}

.e {
   position:absolute;
   top:30%;
   left:42%
}

.f {
   position:absolute;
   top:30%;
   left:52%
}

.options{
   background-color:transparent;
   border-width:2;
   border-style:groove;
   position:absolute;
   height:200px;
   width:250px;
   right:20px;
   top:20px;
   display:none;
}

.max-gen{
   position:absolute;
   top:20%;
   right:0px;
}

.population-size{
   position:absolute;
   bottom:20%;
   right:0px;
}

.solve {
   position:absolute;
   color:green;
   top:60%;
   left:40%;
}

.reset {
   position:absolute;
   color:red;
   top:60%;
   left:20%;
}


#result{
   position:absolute;
   background-color:rgba(255,255,255,0.5);
   color:white;
   text-align:center;
   top:40%;
   width:60%;
}

